<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * Components Project * * * * * * * * * * * -->
<!-- * * * * * * * * * *  By Santi Roldán * * * * * * * * * * -->
<!-- * * * * * * * * * * FullStack Developer * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<html>
  <head>
    <title>Isolate Components</title>
  </head>
  <body>
    <h1>Menu Toogle with Animation</h1>
    <app-menu-toggle></app-menu-toggle>
    <hr>
  </body>
</html>